---
layout: default
---

{% include header.html %}

<header id="top" class="header full-size">
  <div class="text-vertical-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <h1 class="logo-civio">Fundación Ciudadana Civio</h1>
          <h2><span>Informe de Gestión 2015</span></h2>
          <div class="intro-description">
            <p>El Informe de Gestión de la Fundación Ciudadana Civio es un ejercicio de rendición de cuentas para explicar nuestra labor, hacer pública toda la información relevante sobre la actividad que hemos desarrollado, y compartir tanto lo positivo como lo negativo de nuestra evolución a lo largo del año. Es un formato que adoptamos por segunda vez (puedes consultar el <a href="http://2014.civio.es/" title="Civio - Informe de Gestión 2014" target="_blank">Informe 2014</a>) y que revisaremos cada ejercicio con franqueza, espíritu crítico y ánimo de mejora. Nos esforzaremos para elevar el listón, trabajando siempre desde la misma exigencia y la misma ilusión para mantener la confianza de tanta gente y ganarnos cada día la de más ciudadanos.</p>
            <p><i>El <a href="http://www.civio.es/#meet-the-team" title="Civio - Quiénes Somos" target="_blank">equipo</a> de la Fundación Ciudadana Civio.</i></p>
          </div>
          <a href="#introduccion" class="btn btn-light btn-lg btn-down"><i class="glyphicon glyphicon-chevron-down"></i></a>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Intro -->
{% include _content/intro.html %}

<!-- Section 1 -->
{% include _content/section1.html %}

{% include section_divider.html id="A" message="Aportamos un conocimiento especializado en tecnología cívica y valor añadido a proyectos internacionales y de largo recorrido" %}

<!-- Section 2 -->
{% include _content/section2.html %}

{% include section_divider.html id="B" message="Las herramientas y la información que generamos capacitan al ciudadano en sus decisiones y permiten el escrutinio de la gestión pública" %}

<!-- Section 3 -->
{% include _content/section3.html %}

{% include section_divider.html id="C" message="Ponemos un enfoque innovador y el potencial de las nuevas tecnologías al servicio de una ciudadanía activa" %}

<!-- Section 4 -->
{% include _content/section4_1.html %}
{% include _content/section4_2.html %}
{% include _content/section4_3.html %}
{% include _content/section4_4.html %}
{% include _content/section4_5.html %}
{% include _content/section4_6.html %}
{% include _content/section4_7.html %}

{% include section_divider.html id="D" message="Examinamos nuestra labor y compartimos nuestras decisiones con franqueza, espíritu crítico y ánimo de mejora" %}

<!-- Section 5 -->
{% include _content/section5_1.html %}
{% include _content/section5_2.html %}

{% include section_divider.html id="E" message="Nuestras acciones persiguen una transparencia real y una rendición de cuentas efectiva por parte de las instituciones" %}

<!-- Section 6 -->
{% include _content/section6.html %}

{% include section_divider.html id="F" message="Balance positivo y un equipo que se consolida para crecer y asumir nuevos retos en 2016" %}

<!-- Section 7 -->
{% include _content/section7.html %}

{% include section_divider.html id="G" message="Elevamos continuamente el nivel exigencia para aplicar a nuestra propia organización los mejores estándares de gobernanza" %}

<!-- Section 8 -->
{% include _content/section8.html %}

{% include section_divider.html id="H" message="El conocimiento que compartimos es directo y especializado, y viene avalado por nuestra labor diaria y por el impacto de nuestros proyectos" %}

<!-- Section 9 -->
{% include _content/section9.html %}

{% include section_divider.html id="I" message="La transparencia es un cambio social y cultural, y somos una de las organizaciones más activas en España a la hora de extenderlo" %}

<!-- Section 10 -->
{% include _content/section10.html %}

{% include section_divider.html id="J" message="Promovemos un debate público basado en la evidencia y los datos, y nos esforzamos para incorporar cada día a más personas" %}

<!-- Section 11 -->
{% include _content/section11.html %}

{% include section_divider.html id="K" message="Cada día más gente nos ayuda a vigilar y llevar la transparencia a otros puntos ciegos del sistema" %}

<!-- Section 12 -->
{% include _content/section12.html %}

{% include section_divider.html id="L" message="Somos una organización en constante aprendizaje, y ponemos lo aprendido al servicio de otros ciudadanos, organizaciones y administraciones" %}

<!-- Section 13 -->
{% include _content/section13.html %}

{% include section_divider.html id="M" message="Ya estamos logrando cambiar las cosas, y más que lo vamos a hacer: perseguimos un impacto real y mensurable" %}

<!-- Section 14 -->
{% include _content/section14.html %}

{% include section_divider.html id="N" message="Somos transparentes. Somos independientes. Somos colaborativos. Estamos aquí para quedarnos" %}


{% include footer.html %}
