---
layout: default
---

{% include header.en.html %}

<header id="top" class="header full-size">
  <div class="text-vertical-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <h1 class="logo-civio">Fundación Ciudadana Civio</h1>
          <h2><span>Annual Report 2014</span></h2>
          <div class="intro-description">
            <p>This annual report of Civio (Civio Civic Foundation) is an accountability practice that allows us to explain our pursuit, make all relevant information on our activities public and to share both positive and negative aspects of our evolution. We have adopted this format for the first time this year and we count on reviewing every period in an honest, critical and constructive way. We endeavour to raise the bar and to keep working in a self-demanding and enthusiastic manner, in order to keep the trust we already count on from so many citizens and to earn more and more every day.</p>
            <p><i>The Civio Team</i></p>
          </div>
          <a href="#introduccion" class="btn btn-light btn-lg btn-down"><i class="glyphicon glyphicon-chevron-down"></i></a>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Intro -->
{% include _content/intro.en.html %}

<!-- Section 1 -->
{% include _content/section1.en.html %}

{% include section_divider.html id="A" message="We can provide with specialised knowledge for civic participation technology and added value in international and long haul projects" %}

<!-- Section 2 -->
{% include _content/section2.en.html %}

{% include section_divider.html id="B" message="We develop tools that allow to pore over governance through data and that foster transparency" %}

<!-- Section 3 -->
{% include _content/section4_1.en.html %}
{% include _content/section4_2.en.html %}
{% include _content/section4_3.en.html %}
{% include _content/section4_4.en.html %}
{% include _content/section4_5.en.html %}
{% include _content/section4_6.en.html %}
{% include _content/section4_7.en.html %}

{% include section_divider.html id="C" message="A positive balance and a team consolidating to grow and to face new challenges for 2015" %}

{% include section_divider.html id="D" message="Our campaigns seek real transparency and effective accountability from institution" %}

<!-- Section 5 -->
{% include _content/section5.en.html %}

{% include section_divider.html id="E" message="Transparency is a social and cultural change, and we are one of the most active Spanish organizations in spreading it out" %}

<!-- Section 6 -->
{% include _content/section6.en.html %}

{% include section_divider.html id="F" message="An innovative focus and the potential of new technologies at the service of access to information" %}

<!-- Section 7 -->
{% include _content/section7.en.html %}

{% include section_divider.html id="G" message="We foster a public debate that is based on evidence and data, and we strive to include more and more people every day" %}

<!-- Section 8 -->
{% include _content/section8.en.html %}

{% include section_divider.html id="H" message="As an organization, we are constantly learning and we put what we learn at citizens', organizations' and authorities' service" %}

<!-- Section 9 -->
{% include _content/section9.en.html %}

{% include section_divider.html id="I" message="We are already making things change, and we are not stopping here: we are after real and measurable impact" %}

<!-- Section 10 -->
{% include _content/section10.en.html %}

{% include section_divider.html id="J" message=" We are transparent. We are independent. We are collaborative. We are here to stay." %}

{% include footer.en.html %}
