---
layout: default
---

{% include header.en.html %}

<header id="top" class="header full-size">
  <div class="text-vertical-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <h1 class="logo-civio">Fundación Ciudadana Civio</h1>
          <h2><span>Annual report 2015</span></h2>
          <div class="intro-description">
            <p>This annual report of Civio (Fundación Ciudadana Civio: Civio Citizen Foundation) is an accountability practice that allows us to explain our pursuit, make all relevant information on our activities public and to share both positive and negative aspects of our evolution after this year. We have adopted this format for the second time (you can check our <a href="http://2014.civio.es/en/" title="Civio - Annual report 2014" target="_blank">report for 2014</a>) and we count on reviewing every period in an honest, critical and improving way. We will endeavour to raise the bar and to keep working within a demanding and enthusiastic manner, in order to keep the trust we already count on from so many citizens and to win more and more every day.</p>
            <p><i>The Civio citizen foundatio <a href="http://www.civio.es/en/#meet-the-team" title="Civio - Quiénes Somos" target="_blank">team</a>.</i></p>
          </div>
          <a href="#introduccion" class="btn btn-light btn-lg btn-down"><i class="glyphicon glyphicon-chevron-down"></i></a>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Intro -->
{% include _content/intro.en.html %}

<!-- Section 1 -->
{% include _content/section1.en.html %}

{% include section_divider.html id="A" message="We provide with specialised knowledge for active citizenship technology and added value in international and long haul projects" %}

<!-- Section 2 -->
{% include _content/section2.en.html %}

{% include section_divider.html id="B" message="The tools and the information we produce enable citizens to make decisions and allow the scrutiny of public management" %}

<!-- Section 3 -->
{% include _content/section3.en.html %}

{% include section_divider.html id="C" message="An innovative focus and the potential of new technologies at the service of active citizenship" %}

<!-- Section 4 -->
{% include _content/section4_1.en.html %}
{% include _content/section4_2.en.html %}
{% include _content/section4_3.en.html %}
{% include _content/section4_4.en.html %}
{% include _content/section4_5.en.html %}
{% include _content/section4_6.en.html %}
{% include _content/section4_7.en.html %}

{% include section_divider.html id="D" message="We examine our work and share of decisions in an honest, critical and improving way" %}

<!-- Section 5 -->
{% include _content/section5_1.en.html %}
{% include _content/section5_2.en.html %}

{% include section_divider.html id="E" message="Our actions seek real transparency and effective accountability from institutions" %}

<!-- Section 6 -->
{% include _content/section6.en.html %}

{% include section_divider.html id="F" message="A positive balance and a team consolidating to grow and to face new challenges for 2016" %}

<!-- Section 7 -->
{% include _content/section7.en.html %}

{% include section_divider.html id="G" message="We constantly raise our own level of demands to ensure the organisation's best governance standards" %}

<!-- Section 8 -->
{% include _content/section8.en.html %}

{% include section_divider.html id="H" message="The knowledge that we share is direct and specialised: our daily endeavour and the impact of our projects can endorse it" %}

<!-- Section 9 -->
{% include _content/section9.en.html %}

{% include section_divider.html id="I" message="Transparency is a social and cultural change, and we are one of the most active Spanish organisations in spreading it out" %}

<!-- Section 10 -->
{% include _content/section10.en.html %}

{% include section_divider.html id="J" message="We foster a public debate that is based on evidence and data, and we strive to include more and more people every day" %}

<!-- Section 11 -->
{% include _content/section11.en.html %}

{% include section_divider.html id="K" message="Everyday, more and more people help us to stay vigilant and to carry transparency to other blind spots of the system" %}

<!-- Section 12 -->
{% include _content/section12.en.html %}

{% include section_divider.html id="L" message="As an organisation, we are constantly learning and we put what we learn at citizens', organisations' and authorities' service" %}

<!-- Section 13 -->
{% include _content/section13.en.html %}

{% include section_divider.html id="M" message="We are already making things change, and we are not stopping here: we are after real and measurable impact" %}

<!-- Section 14 -->
{% include _content/section14.en.html %}

{% include section_divider.html id="N" message="We are transparent. We are independent. We are collaborative. We are here to stay" %}


{% include footer.en.html %}
