<footer class="full-size">
  <div class="text-vertical-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1 text-center">
          <div class="bigger">
            <p><strong>Thank the trust you place in us!</strong></p>
            <p><i>Jacobo, David, Eva, Raúl, Miguel Ángel, Amir, Sonia &amp; Javier</i></p>
          </div>
          <hr class="medium">
          <form target="_blank" class="validate" name="mc-embedded-subscribe-form" id="mc-embedded-subscribe-form" method="post" action="http://civio.us4.list-manage1.com/subscribe/post?u=9416fe6b76f2c3f985c1f8e0f&amp;id=9d5b4c8cda">         
            <input id="mce-EMAIL" class="email" type="email" required="" placeholder="correo" name="EMAIL" value="SUBSCRIBE TO OUR NEWSLETTER">           
            <button type="submit" id="btn-newsletter-header" class="btn btn-submit"><i class="glyphicon glyphicon-play"></i><span>Send</span></button>   
          </form>
          <p><a href="http://www.civio.es/dona/" class="btn btn-dark btn-lg" target="_blank" title="Donate">DONATE</a></p>
          <p>Get in touch. Write to <a href="mailto:contacto@civio.es">contacto@civio.es</a></p>
          <hr class="small">
          <ul class="list-inline">
            <li><a onclick="window.open('https://twitter.com/intent/tweet?text='+encodeURIComponent('Informe 2014 de @Civio')+'&amp;url='+encodeURIComponent('{{ site.url }}'),'sharer','toolbar=0,status=0,width=548,height=500');" href="javascript: void(0)" title="Comparte esta página en Twitter"><i class="fa fa-twitter fa-fw fa-2x"></i></a></li>
            <li><a onclick="window.open('https://www.facebook.com/dialog/share?app_id=775593102496678&amp;display=popup&amp;href='+encodeURIComponent('{{ site.url }}')+'&amp;redirect_uri=href='+encodeURIComponent('{{ site.url }}'),'sharer','toolbar=0,status=0,width=548,height=325');" href="javascript: void(0)" title="Comparte esta página en Facebook"><i class="fa fa-facebook fa-fw fa-2x"></i></a></li>
            <li><a onclick="window.open('https://plus.google.com/share?url='+encodeURIComponent('{{ site.url }}'),'sharer','menubar=no,toolbar=no,resizable=yes,scrollbars=yes,width=548,height=500');" href="javascript: void(0)" title="Comparte esta página en Google Plus"><i class="fa fa-google-plus fa-fw fa-2x"></i></a></li>
          </ul>
          <hr class="small">
          <p><a href="#" data-toggle="modal" data-target="#credits-modal" title="Credits">Credits</a></p>
          <hr class="small">
          <p class="text-muted"><small>&copy; Civio 2015</small></p>
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="modal fade" id="credits-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Credits</h4>
      </div>
      <div class="modal-body">
        <p>Translated into English thanks to <a href="http://comunica34.com/pedrocanonavarro" title="Comunica34" target="_blank">Comunica34</a>.</p>
        <p><strong>Photographs</strong> (in order of appearance):</p>
        <ul>
          <li><a href="https://www.flickr.com/photos/hollytravis/7125838947/" target="_blank"> Plaza Mayor </a>. Author: HollyEma☮. CC BY 2.0</li>
          <li><a href="http://www.flickr.com/photos/pepeltenso/2524541189/in/set-72157601972463454" target="_blank">Mis lágrimas, como las estrellas</a> (My tears, like stars). Author: José Naveiras. CC BY-NC-SA 2.0</li>
          <li><a href="http://www.flickr.com/photos/keoni101/5318064511/" target="_blank">My Friends</a>. Author: Keoni Cabral. CC BY 2.0</li>
          <li><a href="http://www.flickr.com/photos/kaizat/3516991571/" target="_blank">I´m about to break free</a>. Author: Fayez Closed Account. CC BY 2.0</li>
          <li><a href="http://www.flickr.com/photos/medialab-prado/7071357157/" target="_blank">Barcamp: data journalism (12.04.12)</a>. Author: Medialab Prado. CC BY-SA 2.0</li>
          <li><a href="https://www.flickr.com/photos/gomagoti/16140031814" target="_blank">Blinc, Adelaide Festival of the Arts</a>. Author: gomagoti. CC BY-SA 2.0</li>
          <li><a href="https://www.flickr.com/photos/gomagoti/16574717288" target="_blank">Blinc, Adelaide Festival of the Arts</a>. Author: gomagoti. CC BY-SA 2.0</li>
          <li><a href="https://www.flickr.com/photos/chesh2000/3101290591" target="_blank">Transparency</a>. Author: jaygoldman. CC BY-NC-SA 2.0</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- jQuery -->
<script src="{{ site.url }}/js/jquery.js"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ site.url }}/js/main.js"></script>