<footer class="full-size">
  <div class="text-vertical-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <div class="bigger">
            <p><strong>Thank the trust you place in us!</strong></p>
            <p><i>Jacobo, David, Eva, Raúl, Miguel Ángel, Amir, Sonia and Javier</i></p>
          </div>
          <hr class="medium">
          <form target="_blank" class="validate" name="mc-embedded-subscribe-form" id="mc-embedded-subscribe-form" method="post" action="http://civio.us4.list-manage1.com/subscribe/post?u=9416fe6b76f2c3f985c1f8e0f&amp;id=9d5b4c8cda">         
            <input id="mce-EMAIL" class="email" type="email" required="" placeholder="correo" name="EMAIL" value="SUBSCRIBE TO OUR NEWSLETTER">           
            <button type="submit" id="btn-newsletter-header" class="btn btn-submit"><i class="glyphicon glyphicon-play"></i><span>Send</span></button>   
          </form>
          <p>All of the advances achieved are possible thanks to our accomplices, who make a monthly contribution. Become an accomplice of Civio's and we will prove your support worthwhile.</p>
          <p><a href="https://frapp.co/ngos/civio" class="btn btn-dark btn-lg" target="_blank" title="Donate">BECOME OUR ACCOMPLICE</a></p>
          <p>Get in touch. Write to <a href="mailto:contacto@civio.es">contacto@civio.es</a></p>
          <hr class="small">
          <ul class="list-inline">
            <li><a onclick="window.open('https://twitter.com/intent/tweet?text='+encodeURIComponent('@Civio Annual report 2015')+'&amp;url='+encodeURIComponent('{{ site.url }}'),'sharer','toolbar=0,status=0,width=548,height=500');" href="javascript: void(0)" title="Share this page on  Twitter"><i class="fa fa-twitter fa-fw fa-2x"></i></a></li>
            <li><a onclick="window.open('https://www.facebook.com/dialog/share?app_id=775593102496678&amp;display=popup&amp;href='+encodeURIComponent('{{ site.url }}')+'&amp;redirect_uri=href='+encodeURIComponent('{{ site.url }}'),'sharer','toolbar=0,status=0,width=548,height=325');" href="javascript: void(0)" title="Share this page on Facebook"><i class="fa fa-facebook fa-fw fa-2x"></i></a></li>
            <li><a onclick="window.open('https://plus.google.com/share?url='+encodeURIComponent('{{ site.url }}'),'sharer','menubar=no,toolbar=no,resizable=yes,scrollbars=yes,width=548,height=500');" href="javascript: void(0)" title="Share this page on Google Plus"><i class="fa fa-google-plus fa-fw fa-2x"></i></a></li>
          </ul>
          <hr class="small">
          <p><a href="#" data-toggle="modal" data-target="#credits-modal" title="Credits">Credits</a></p>
          <hr class="small">
          <p class="text-muted"><small>&copy; Civio 2016</small></p>
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="modal fade" id="credits-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Credits</h4>
      </div>
      <div class="modal-body">
        <p><strong>Photographs</strong> (in order of appearance):</p>
        <ul>
          <li><a href="http://www.flickr.com/photos/kaizat/3516991571/" target="_blank">I'm about to break free</a>. Author: Fayez Closed Account. CC BY 2.0</li>
          <li><a href="https://www.flickr.com/photos/centrodeinnovacionbbva/23008355210/in/album-72157661599282086/" target="_blank">Friday, November 18th - A.M.</a>. How to create a startup in the Era of Unicorns. Consent obtained from <a href="http://www.centrodeinnovacionbbva.com/" title="Centro de Innovación BBVA [BBVA Innovation Centre]" target="_blank">BBVA Innovation Centre</a></li>
          <li><a href="https://www.flickr.com/photos/chesh2000/3101290591" target="_blank">Transparency</a>. Author: jaygoldman. CC BY-NC-SA 2.0</li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% javascript_asset_tag global %}
- /_assets/js/jquery.js
- /_assets/js/d3.min.js
- /_assets/js/c3.min.js
- /_assets/js/main.js
{% endjavascript_asset_tag %}
