<!-- Menu Titles -->
<nav class="navbar navbar-default navbar-fixed-top">
  <p class="colaboracion-con-instituciones">Active collaboration with institutions</p>
  <p class="proyeccion-internacional">Extending outreach: international presence</p>
  <p class="los-proyectos-de-civio">Communication civic value in data through our projects</p>
  <p class="cuentas-2014">Our accounts: sustainability and...</p>
  <p class="campañas-y-movilizacion">Social mobilization and campaigns</p>
  <p class="experiencias-compartidas">Sharing our learnings</p>
  <p class="premios-y-reconocimientos">Awards and acknowledgements</p>
  <p class="alcance-y-difusion-publica">Increasing critical information outreach</p>
  <p class="algunas-lecciones-aprendidas">A few of many lessons learned for this year</p>
  <p class="pequeñas-victorias-del-año">Modest victories, thanks to our donors</p><!-- Navigation -->
</nav>

<!-- Navigation -->
<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
    <li class="sidebar-brand"><a href="#top">Annual report 2014</a></li>
    <li class="lang-selector">
      <ul class="nav navbar-nav">
        <li><a href="{{ site.url }}" title="Español">ES</a></li>
        <li><a class="active" href="{{ site.url }}/en" title="English">EN</a></li>
      </ul>
    </li>
    <li><a href="#introduccion">Introduction</a></li>
    <li><a href="#colaboracion-con-instituciones">Collaboration with institutions</a></li>
    <li><a href="#proyeccion-internacional">International presence</a></li>
    <li><a href="#los-proyectos-de-civio">Civio Projects</a></li>
    <li><a href="#cuentas-2014">Accounts 2014</a></li>
    <li><a href="#campañas-y-movilizacion">Mobilization and campaigns</a></li>
    <li><a href="#experiencias-compartidas">Shared experiences</a></li>
    <li><a href="#premios-y-reconocimientos">Awards and acknowledgements</a></li>
    <li><a href="#alcance-y-difusion-publica">Publicity and outreach</a></li>
    <li><a href="#algunas-lecciones-aprendidas">Some lessons learned</a></li>
    <li><a href="#pequeñas-victorias-del-año">2014 modest victories</a></li>
  </ul>
</nav>