<!-- Menu Titles -->
<nav class="navbar navbar-default navbar-fixed-top">
  <p class="colaboracion-con-instituciones">Colaboración activa con las instituciones</p>
  <p class="proyeccion-internacional">Mejorando nuestra proyección internacional</p>
  <p class="generando-informacion-de-servicio-publico">Generando información de servicio público</p>
  <p class="los-proyectos-de-civio">Comunicando el valor cívico de los datos a través de nuestros proyectos</p>
  <p class="dos-proyectos-que-dejamos-atras">Dos proyectos que dejamos atrás</p>
  <p class="advocacy-e-incidencia-publica">Trabajo de <i>advocacy</i> e incidencia pública</p>
  <p class="cuentas-2015">Nuestras cuentas: sostenibilidad y...</p>
  <p class="buena-gobernanza">Buena gobernanza</p>
  <p class="experiencias-compartidas">Activos a la hora de compartir nuestro aprendizaje</p>
  <p class="premios-y-reconocimientos">Premios y reconocimientos</p>
  <p class="difusion-y-alcance-publico">Difusión y alcance público</p>
  <p class="no-estamos-solos">No estamos solos, ni mucho menos</p>
  <p class="algunas-lecciones-aprendidas">Algunas de las muchas lecciones que hemos aprendido este año</p>
  <p class="victorias-gracias-a-nuestros-donantes">Pequeñas victorias que son posibles gracias a nuestros donantes</p>
</nav>

<!-- Navigation -->
<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
    <li class="sidebar-brand"><a href="#top">Informe de Gestión 2015</a></li>
    <li class="lang-selector">
      <ul class="nav navbar-nav">
        <li><a class="active" href="{{ site.url }}" title="Español">ES</a></li>
        <li><a href="{{ site.url }}/en" title="English">EN</a></li>
      </ul>
    </li>
    <li><a href="#introduccion">Introducción</a></li>
    <li><a href="#colaboracion-con-instituciones">Colaboración con instituciones</a></li>
    <li><a href="#proyeccion-internacional">Mejorando nuestra proyección internacional</a></li>
    <li><a href="#generando-informacion-de-servicio-publico">Generando información de servicio público</a></li>
    <li><a href="#los-proyectos-de-civio">Los proyectos de Civio</a></li>
    <li><a href="#dos-proyectos-que-dejamos-atras">Dos proyectos que dejamos atrás</a></li>
    <li><a href="#advocacy-e-incidencia-publica">Trabajo de <i>advocacy</i> e incidencia pública</a></li>
    <li><a href="#cuentas-2015">Nuestras cuentas: sostenibilidad y...</a></li>
    <li><a href="#buena-gobernanza">Buena gobernanza</a></li>
    <li><a href="#experiencias-compartidas">Activos a la hora de compartir nuestro aprendizaje</a></li>
    <li><a href="#premios-y-reconocimientos">Premios y reconocimientos</a></li>
    <li><a href="#difusion-y-alcance-publico">Difusión y alcance público</a></li>
    <li><a href="#no-estamos-solos">No estamos solos, ni mucho menos</a></li>
    <li><a href="#algunas-lecciones-aprendidas">Algunas de las muchas lecciones que hemos aprendido este año</a></li>
    <li><a href="#victorias-gracias-a-nuestros-donantes">Pequeñas victorias que son posibles gracias a nuestros donantes</a></li>
  </ul>
</nav>