<!-- Menu Titles -->
<nav class="navbar navbar-default navbar-fixed-top">
  <p class="colaboracion-con-instituciones">Colaboración activa con las instituciones</p>
  <p class="proyeccion-internacional">Mejorando nuestra proyección internacional</p>
  <p class="generando-informacion-de-servicio-publico">Generando información de servicio público</p>
  <p class="los-proyectos-de-civio">Comunicando el valor cívico de los datos a través de nuestros proyectos</p>
  <p class="cuentas-2014">Nuestras cuentas: sostenibilidad y...</p>
  <p class="campañas-y-movilizacion">Campañas y movilización social</p>
  <p class="experiencias-compartidas">Activos a la hora de compartir nuestro aprendizaje</p>
  <p class="premios-y-reconocimientos">Premios y reconocimientos</p>
  <p class="alcance-y-difusion-publica">Informando críticamente cada día a más personas</p>
  <p class="algunas-lecciones-aprendidas">Algunas de las muchas lecciones que hemos aprendido este año</p>
  <p class="pequeñas-victorias-del-año">Pequeñas victorias que son posibles gracias a nuestros donantes</p>
</nav>

<!-- Navigation -->
<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
    <li class="sidebar-brand"><a href="#top">Informe de Gestión 2015</a></li>
    <li class="lang-selector">
      <ul class="nav navbar-nav">
        <li><a class="active" href="{{ site.url }}" title="Español">ES</a></li>
        <li><a href="{{ site.url }}/en" title="English">EN</a></li>
      </ul>
    </li>
    <li><a href="#introduccion">Introducción</a></li>
    <li><a href="#colaboracion-con-instituciones">Colaboración con instituciones</a></li>
    <li><a href="#proyeccion-internacional">Mejorando nuestra proyección internacional</a></li>
    <li><a href="#generando-informacion-de-servicio-publico">Generando información de servicio público</a></li>
    <li><a href="#los-proyectos-de-civio">Los proyectos de Civio</a></li>
    <li><a href="#cuentas-2014">Cuentas 2014</a></li>
    <li><a href="#campañas-y-movilizacion">Campañas y movilización</a></li>
    <li><a href="#experiencias-compartidas">Experiencias compartidas</a></li>
    <li><a href="#premios-y-reconocimientos">Premios y reconocimientos</a></li>
    <li><a href="#alcance-y-difusion-publica">Alcance y difusión pública</a></li>
    <li><a href="#algunas-lecciones-aprendidas">Algunas lecciones aprendidas</a></li>
    <li><a href="#pequeñas-victorias-del-año">Pequeñas victorias del año</a></li>
  </ul>
</nav>