<section id="introduccion" class="full-size bgC">
  <div class="text-vertical-center">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-10 col-lg-offset-1">
          <h3>Transparency. Accessible data. Journalism. Technology.</h3>
          <p>Civio's purpose is to attain real and effective transparency, with a free access for any citizen or organization to public data. We commit to this task for we want to contribute to an active citizenship society and an evidence-based public debate. In order to do so, we develop tools that shed light on the civic value within data and that foster transparency. We investigate and produce relevant information on public administration and governance in order to hold institutions accountable.</p>
          <br/>
          <h3>2014, in a few words</h3>
          <p>2014 has been our third operating year. We have reached budgetary sustainability one more year, by diversifying our recurring income towards more visible sources and by obtaining international recognition, which allows us to face new and greater challenges.</p>
          <p>Besides the management of eight pro-transparency projects, we have laid the foundations for another four initiatives for 2015. During 2014, our working team has fortified and grown, and we can face 2015 with a guarantee to accomplish an ambitious purpose: to raise the impact of our activity.</p>
          <br/>
          <a href="#colaboracion-con-instituciones" class="btn btn-light btn-lg">How did we do it?</a>
        </div>
      </div>
    </div>
  </div>
</section>