<section id="introduccion" class="full-size bgC">
  <div class="text-vertical-center">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-10 col-lg-offset-1">
          <h3>Transparencia. Datos accesibles. Periodismo. Tecnología</h3>
          <p>El propósito de Civio es lograr una transparencia real y efectiva, con libre acceso a los datos públicos para cualquier ciudadano y organización. Lo hacemos porque queremos contribuir a lograr una sociedad construida por una ciudadanía activa y participativa que se beneficie de un debate público basado en la evidencia y demande la rendición de cuentas desde las instituciones. Para contribuir a este fin, desarrollamos herramientas que sacan a la luz el valor cívico de los datos y nos permiten tanto a nosotros como a terceros investigar y generar información relevante sobre la gestión pública.</p>
          <br/>
          <h3>2015, en pocas palabras</h3>
          <p><strong>Apertura internacional, mayor incidencia pública y crecimiento del equipo</strong></p>
          <p>2015 ha sido nuestro cuarto año de actividad. Hemos alcanzado la sostenibilidad presupuestaria un año más, diversificando hacia fuentes de ingresos recurrentes y obteniendo un reconocimiento internacional que nos permite afrontar nuevos retos y de mayor categoría.</p>
          <p>En 2015 hemos gestionado ocho proyectos pro-transparencia, dejado dos atrás y sentado las bases de tres nuevas iniciativas para 2016. Nuestro equipo de trabajo ha seguido creciendo y se fortalece en dos frentes estratégicos para nuestro futuro: por un lado, en la búsqueda de alianzas, financiación e incidencia pública; por otro, para satisfacer la creciente demanda de servicios, principalmente desde el sector público autonómico y local. Encaramos 2016 con entusiasmo y garantías de seguir dejando una huella profunda y determinante en esta fase incipiente de la transparencia en España.</p>
          <br/>
          <a href="#colaboracion-con-instituciones" class="btn btn-light btn-lg">¿Cómo lo hemos hecho?</a>
        </div>
      </div>
    </div>
  </div>
</section>