<section id="introduccion" class="full-size bgC">
  <div class="text-vertical-center">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-10 col-lg-offset-1">
          <h3>Transparency. Accessible data. Journalism. Technology.</h3>
          <p>Civio's purpose is to attain real and effective transparency, with a free access for any citizen or organisation to public data. We commit to this task in hopes of contributing to a society built by actively engaged citizens, who can benefit from an evidence-based public debate, and therefore request accountability from institutions. To this end, we develop tools that expose the civic value of data and allow both ourselves and third parties to do research and produce information on public management.</p>
          <br/>
          <h3>2015, in a few words</h3>
          <p><strong>International opening, a bigger public impact and team growth</strong></p>
          <p>2015 has been our fourth operating year. We have reached budgetary sustainability one more year, by diversifying our income towards recurring sources and by obtaining international recognition, both of which has allowed us to face new and greater challenges.</p>
          <p>In 2015 we have managed eight pro-transparency projects, left two behind and laid the foundations for three new initiatives for 2016. Our team has kept growing as we are developing two strategic fronts for our future: on one hand, we are searching for alliances, funding and public impact; on the other, we are looking to satisfy the growing demand of services, coming mainly from the public sector. We are approaching 2016 with enthusiasm, and a commitment to continue making a deep and decisive impact on this early phase for transparency in Spain.</p>
          <br/>
          <a href="#colaboracion-con-instituciones" class="btn btn-light btn-lg">How did we do it?</a>
        </div>
      </div>
    </div>
  </div>
</section>