<section id="proyeccion-internacional" class="full-size bgB">
  <h3>Extending outreach: international presence</h3>
  <div class="text-vertical-center">
    <div class="container">
        <div class="row text-left">
          <div class="col-lg-10 col-lg-offset-1">
            <figure class="col-sm-6 pull-left">
              <img src="{{ site.url }}/img/proyeccion_internacional.jpg" class="img-responsive">
              <figcaption><a href="https://twitter.com/InnovaCiudadana/status/541287571780009984" target="_blank">@InnovaCiudadana</a></figcaption>
            </figure>
            <p>We have increased our presence in main international forums related to our activity area, contributed to global campaigns and participated in consortia for long haul and deep outreach.</p>
            <p>We attended the <strong>Transparency Camp 2014</strong>, a forum for specialists in technology applied to transparency and open government organized by the Sunlight Foundation in Washington D.C. on a yearly basis. We also <a href="http://onodo.org" title="Onodo - Network analysis for all" target="_blank">went to Veracruz, Mexico</a>, in order to run a two-week intensive workshop at the <strong>Ibero-American Lab for Citizen Innovation</strong> (Laboratorio Iberoamericano de Innovación Ciudadana) #LabICMX.</p>
            <p>Regarding training, we were involved in the <a href="http://www.civio.es/2014/03/webinar-tecnologia-para-la-transparencia-en-la-financiacion-politica/" title="Civio - Webinar: Technology for transparency in political funding" target="_blank">webinar</a> on how to monitor the influence of money in politics when reliable data is not available, <strong>organized</strong> by the Transparency International parent branch and the Sunlight Foundation. We also promoted a campaign on <a href="Webinar: Technology for transparency in political funding" target="_blank">parliamentary transparency</a> during the <strong></strong><a href="http://openparl2014.org/faq" title="Global Legislative Openness Week" target="_blank">Global Legislative Openness Week</a>. This allowed us to make part of a global joint call, by 108 worldwide organizations, to all parliaments for the updating of the legislative cycle by adopting open and default structure formats.</p>
            <div class="panel panel-objetivo">
              <div class="panel-body">
                <p class="panel-objetivo-title"><i>Objective as foreseen on the 2014 Action Plan:</i></p>
                <p class="alert alert-success"><span class="glyphicon glyphicon-ok"></span> <strong>To raise the international outreach of our brand and projects</strong></p>
              </div>
            </div>
          {% include social_sharer.en.html path="proyeccion-internacional" message="Extending outreach: international presence" %}
        </div>
      </div>
    </div> 
  </div>
</section>