<section id="section-3-6" class="full-size subsection bgD">
  <div class="text-vertical-center">
    <div class="container">
      <div class="row text-left">
        <div class="col-lg-10 col-lg-offset-1">
          <div class="project-logo text-center">
            <a href="http://www.espanaenllamas.es" title="España en llamas" target="_blank">
              <img src="/img/logo-espanaenllamas.png">
            </a>
            <h4>España en llamas</h4>
          </div>
          <div class="panel panel-titulares">
            <div class="panel-body">
              <p class="text-center">In headlines</p>
              <blockquote class="blockquote-reverse">
                <a href="http://www.heraldo.es/noticias/aragon/2015/07/07/la_inversion_prevencion_incendios_desplomo_entre_2009_2013_379312_300.html" title="El Heraldo de Aragón - The investment in fire prevention in Aragón fell by 56% between 2009 and 2013" target="_blank">The investment in fire prevention in Aragón fell by 56% between 2009 and 2013</a> <footer><cite>El Heraldo de Aragón</cite></footer>
              </blockquote>
              <blockquote class="blockquote-reverse">
                <a href="http://www.hoy.es/extremadura/201507/12/region-gasta-millones-prevenir-20150712194658.html" title="Hoy Extremadura - Our region spends 24 million a year in fire prevention and 14 million in fire fighting" target="_blank">Our region spends 24 million a year in fire prevention and 14 million in fire fighting</a> <footer><cite>Hoy Extremadura</cite></footer>
              </blockquote>
              <blockquote class="blockquote-reverse">
                <a href="http://www.telecinco.es/informativos/sociedad/Sierra_de_Gata-Caceres-Extremadura-incendio_forestal_2_2032305064.html" title="Telecinco - Arsonists are behind 9 out of every 10 forest fires" target="_blank">Arsonists are behind 9 out of every 10 forest fires</a> <footer><cite>Telecinco</cite></footer>
              </blockquote>
              <blockquote class="blockquote-reverse">
                <a href="http://play.cadenaser.com/audio/cadenaser_hoyporhoy_20150827_100000_110000/" title="Cadena SER - Interview with Marcos García Rey about España en llamas and the law on forests" target="_blank">Interview with Marcos García Rey about España en llamas and the law on forests</a> <footer><cite>Cadena SER</cite></footer>
              </blockquote>
              <blockquote class="blockquote-reverse">
                <a href="http://www.elcomercio.es/asturias/201510/12/incendios-intencionados-20151012002443-v.html" title="El Comercio - 39% of fires are caused by arsonists" target="_blank">39% of fires are caused by arsonists</a> <footer><cite>El Comercio</cite></footer>
              </blockquote>
            </div>
          </div>
          <p><a href="http://www.espanaenllamas.es" title="España en llamas" target="_blank"><i>España en llamas</i></a> (Spain in flames) is a Civio project, started by developer <a href="https://twitter.com/jjelosua" title="Juan Elosua" target="_blank">Juan Elosua</a> and led by <a href="http://www.civio.es/team-type/colaboradores/" title="Civio - Contributors" target="_blank">Marcos García Rey</a> in the journalistic area in collaboration with <a href="http://www.civio.es/team-type/colaboradores/" title="Civio - Contributors" target="_blank">Hugo Garrido</a>. In July 2015 we updated the project with new interactive and multimedia information covering the historic period from 2001 through 2013, being this the last year with substantiated data reliable enough to work.</p>
          <p>We provided simple explanations for several recent <a href="http://espanaenllamas.es/espana-sigue-en-llamas/" title="España en llamas - Spain is still in flames: the newest legislative changes" target="_blank">legislative changes</a> and their possible consequences for the management of forest fires. They are a new <strong>law on forests</strong>, regarding the use of land burned by forest fires and the competencies of forestry agents, and the new <strong>Criminal Code</strong>, which includes news in the legal fight against arson.</p>
          <p>We have also updated the <a href="http://espanaenllamas.es/explora-los-incendios/" title="España en llamas - Explore fights" target="_blank">forest fires search</a> <strong>application</strong> with all the data from <strong>2013</strong>, as well as the rest of the <strong>interactive and infographic materials</strong>. Lastly, we have published <a href="http://espanaenllamas.es/incendios-forestales-de-2013-ano-de-luces-y-sombras/" title="España en llamas - Forest fires in 2013, a year with ups and downs" target="_blank">a story</a> about fires in 2013. It was a forgiving year in comparison to the former ones but, once more, arson was the cause of the vast majority of the fires.</p>
          <div class="clearfix"></div>
          <div class="panel panel-objetivo">
            <div class="panel-body">
              <p class="panel-objetivo-title"><i>Objective as foreseen on the 2015 Action Plan:</i></p>
              <p class="alert alert-success"><span class="glyphicon glyphicon-ok"></span> <strong>To update the application with new data</strong></p>
              <p class="alert alert-success"><span class="glyphicon glyphicon-ok"></span> <strong>To publish a new research piece</strong></p>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>
</section>