<section id="alcance-y-difusion-publica" class="full-size bgD">
  <h3>Increasing critical information outreach</h3>
  <div class="text-vertical-center">
    <div class="container">
        <div class="row text-left">
          <div class="col-lg-10 col-lg-offset-1">
            <figure class="col-sm-6 pull-left">
              <img src="{{ site.url }}/img/eva_lasexta.jpg" class="img-responsive">
              <!--
              <figcaption><a href="https://twitter.com/OnodoMEX/status/541317732239937537" target="_blank">‏@OnodoMEX</a></figcaption>
              -->
            </figure>
            <p>By the end of, over 3,900 subscribers were receiving a <a href="http://www.civio.es/novedades/" title="Civio - Newsletters" target="_blank">Civio newsletter with the latest news</a> by e-mail, counting 123 new subscriptions in average per month. After 33 informative mailings and campaigns throughout the year, the opening rate of such newsletters averaged over 40%, getting up to 60% for donors. Such metrics reflect higher interest and involvement than most social organizations.</p>
            <p>In addition, over 3,500 people receive by e-mail every new article from <a href="http://elboenuestrodecadadia.com" title="El BOE nuestro de cada día" target="_blank">El BOE nuestro de cada día</a>, as well as 2,037 more are sent news related specifically with the Tuderechoasaber.es project, counting an opening ratio of 38%.</p>
            <p>Regarding media exposure, Civio registered approximately 250 impacts in 2014, all of which were positive and mainly on digital media. 78% of this coverage took place in national level media and 16%were local. El indultómetro concentrated almost one half of the clippings, with strong presence on television.</p>
            {% include social_sharer.en.html path="alcance-y-difusion-publica" message="Increasing critical information outreach" %}
        </div>
      </div>
    </div> 
  </div>
</section>