<section id="alcance-y-difusion-publica" class="full-size bgD">
  <h3>Informando críticamente cada día a más personas</h3>
  <div class="text-vertical-center">
    <div class="container">
        <div class="row text-left">
          <div class="col-lg-10 col-lg-offset-1">
            <figure class="col-sm-6 pull-left">
              <img src="img/eva_lasexta.jpg" class="img-responsive">
              <!--
              <figcaption><a href="https://twitter.com/OnodoMEX/status/541317732239937537" target="_blank">‏@OnodoMEX</a></figcaption>
              -->
            </figure>
            <p>Al término de 2014, más de 3.900 suscriptores recibían periódicamente <a href="http://www.civio.es/novedades/" title="Civio - Novedades" target="_blank">novedades de Civio</a> en su correo electrónico, con 123 nuevas suscripciones de media cada mes. Tras 33 envíos de información y campañas a lo largo del año, la tasa de apertura de estos boletines supera el 40% de media, llegando al 60% en el caso de aquellos que ya son donantes. Estás métricas reflejan un interés e implicación superior al de la mayor parte de las organizaciones sociales.</p>
            <p>Además, más de 3.500 personas reciben en su correo cada artículo nuevo de <a href="http://elboenuestrodecadadia.com" title="El BOE nuestro de cada día" target="_blank">El BOE nuestro de cada día</a>, y otros 2.037 suscriptores reciben novedades relacionadas exclusivamente con el proyectos Tuderechoasaber.es, con un ratio de apertura del 38%.</p>
            <p>Respecto a exposición mediática, en 2014 Civio tuvo unos 250 impactos registrados, todos positivos y con predominio de los medios digitales. El 78% de la cobertura recibida ha sido en medios de alcance nacional, y un 16% de tipo local. El Indultómetro concentró casi la mitad de las apariciones en medios, con una presencia destacada en televisión.</p>
            {% include social_sharer.html path="alcance-y-difusion-publica" message="Informando críticamente cada día a más personas" %}
        </div>
      </div>
    </div> 
  </div>
</section>