<section id="section-4-2" class="full-size subsection bgA">
  <div class="text-vertical-center">
    <div class="container">
      <div class="row text-left">
        <div class="col-lg-10 col-lg-offset-1">
          <div class="project-logo text-center">
            <a href="http://dondevanmisimpuestos.es" title="¿Dónde van mis impuestos?" target="_blank">
              <img src="/img/logo-dondevanmisimpuestos.png">
            </a>
            <h4>¿Dónde van mis impuestos?</h4>
          </div>
          <div class="panel panel-titulares">
            <div class="panel-body">
              <p class="text-center">In headlines</p>
              <blockquote class="blockquote-reverse">
                <a href="http://www.elmundo.es/grafico/economia/2015/08/04/55c07b7846163fc5318b4570.html" title="El Mundo - Presupuestos Generales del Estado 2016: gasto" target="_blank">The newspaper El Mundo used data from <i>¿Dónde van mis impuestos?</i> to inform of the spending distribution in the General State Budget for 2016</a>
                <footer><cite title="El Mundo">El Mundo</cite></footer>
              </blockquote>
              <blockquote class="blockquote-reverse">
                <a href="http://cincodias.com/cincodias/2015/04/17/album/1429263141_820676.html#1429263141_820676_1429263409" title="Cinco Días - Best transparency practices in 2014" target="_blank">Best transparency practices in 2014</a>
                <footer><cite title="Cinco Días">Cinco Días</cite></footer>
              </blockquote>
            </div>
          </div>
          <p>This initiative (translated as “Where do my taxes go?”) allows any citizen to check the distribution of the general state budgets in a <strong>visual, easy and transparent</strong> way.</p>
          <p>We updated the data in August, when the draft of the General State Budget for 2016 was presented to the Spanish Parliament. A few hours after the Ministry of Finance and Public Administrations published the information, Civio <strong>liberated the data in open formats</strong>, making it easy for third parties to reuse it (such as the <a href="http://www.elmundo.es/grafico/economia/2015/08/04/55c07b7846163fc5318b4570.html" title="El Mundo - General State Budget for 2016: spending" target="_blank">information coverage</a> by El Mundo). <i>¿Dónde van mis impuestos?</i> can also be used to quickly check the truthfulness of a piece of information or a statement quickly. During the presidential debate previous to the 2015 General Elections, it made possible to make live <a href="https://twitter.com/ECLaboratorio/statuses/676522466383151104" title="Twitter - ECLaboratorio" target="_blank"><i>fact-checking</i></a>.</p>
          <p><i>¿Dónde van mis impuestos?</i> received <strong>32,846 visits in 2015</strong>, a 22% decrease compared to 2014 (the year when we redesigned this tool). However, the average consultation time lasted 16% longer. Items such as <a href="http://www.dondevanmisimpuestos.es/politicas/21/pensiones" title="Dónde van mis impuestos - Pensions" target="_blank">“Pensions”</a> and <a href="http://www.dondevanmisimpuestos.es/politicas/21/pensiones" title="Dónde van mis impuestos - Public debt" target="_blank">“Public debt”</a> have received 182% and 202% more visits compared to 2014, respectively.</p>
          <div class="clearfix"></div>
          <div class="panel panel-objetivo">
            <div class="panel-body">
              <p class="panel-objetivo-title"><i>Objective as foreseen on the 2015 Action Plan</i></p>
              <p class="alert alert-success"><span class="glyphicon glyphicon-ok"></span> <strong>To update the application with the General State Budget for 2015 and the draft for 2016</strong></p>
              <p class="alert alert-success"><span class="glyphicon glyphicon-ok"></span> <strong>To make an impact asking for budget implementation to be published with the same level of detail than budgets</strong>.<br/>We have asked the main political parties to make this <a href="http://propuestas.civio.es/#publicacion-de-la-ejecucion-presupuestaria-al-mismo-nivel-de-desglose-que-los-pge" title="Civio proposals - To publish budget implementation with the same level of detail than the General State Budget" target="_blank">pledge</a> and almost every one of them has included improvements on this issue in <a href="http://propuestas.civio.es/partidos.html#publicacion-de-la-ejecucion-presupuestaria-al-mismo-nivel-de-desglose-que-los-pge" title="Civio proposals - Parties - To publish budget implementation with the same level of detail than the General State Budget" target="_blank">their programmes</a>.</p>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>
</section>