<section id="section-3-2" class="full-size subsection bgD">
  <div class="text-vertical-center">
    <div class="container">
        <div class="row text-left">
          <div class="col-lg-10 col-lg-offset-1">
            <div class="project-logo text-center">
              <a href="http://dondevanmisimpuestos.es" title="¿Dónde van mis impuestos?" target="_blank">
                <img src="{{ site.url }}/img/logo-dondevanmisimpuestos.png">
              </a>
              <h4>¿Dónde van mis impuestos?</h4>
            </div>
            <div class="panel panel-titulares">
              <div class="panel-body">
                <p class="text-center"><i>In headlines</i></p>
                <blockquote class="blockquote-reverse">
                  <a href="http://www.elmundo.es/economia/2014/06/24/53a99c8c22601db6718b45a9.html" target="_blank">“ What is the national expense in grants and cooperation? What about in political parties? ”</a> <footer><cite title="Source Title">El Mundo</cite></footer>
                </blockquote>
                <blockquote class="blockquote-reverse">
                  <a href="http://www.heraldo.es/noticias/aragon/2014/06/25/como_gasta_dinero_publico_aragon_295707_300.html?utm_source=titulares&amp;utm_medium=email&amp;utm_campaign=noticias" target="_blank">“ How is the State Budget money used in Aragón? ”</a> <footer><cite title="Source Title">El Heraldo</cite></footer>
                </blockquote>
                <blockquote class="blockquote-reverse">
                  <a href="http://www.elmundo.es/madrid/2014/11/29/547a2dec268e3ef3328b456d.html" target="_blank">“ Torrelodones, a municipality wishing to become transparent ”</a> <footer><cite title="Source Title">El Mundo</cite></footer>
                </blockquote>
              </div>
            </div>
            <p><a href="http://www.civio.es/2014/06/asi-es-la-nueva-version-de-donde-van-mis-impuestos/" title="Civio - Here is the new version of ¿Dónde van mis impuestos?" target="_blank">We launched this platform, translated as "Where do my taxes go?", again</a> in June with a new design in order to show State Budget in a clearer and more visual way. We also added a search engine in order to locate detailed expenses without the need to know the precise budget line they belong to, as we added didactic and dissemination information.</p>
            <p>One can now find much more and better information and we can dive into the smallest expense item. This is why, even if unique users went down from 51,600 in 2013 to 33,000 in 2014, the average consultation time lasted almost 60% longer.</p>
            <div class="clearfix"></div>
            <div class="panel panel-objetivo">
              <div class="panel-body">
                <p class="panel-objetivo-title"><i>Objective as foreseen on the 2014 Action Plan</i></p>
                <p class="alert alert-success"><span class="glyphicon glyphicon-ok"></span> <strong>Update visualization</strong> <br/><a href="http://www.civio.es/2014/06/asi-es-la-nueva-version-de-donde-van-mis-impuestos/" title="Civio - Here is the new version of ¿Dónde van mis impuestos?" target="_blank">We renewed our website</a> using software created by <a href="http://i.ngen.io/" title="i.ngen.io" target="_blank">i.ngen.io</a>, a company devoted to data analysis and visualization and founded by Civio promoters, David Cabo &amp; Jacobo Elosua, for Aragón Open Data and released as open source software.</p>
                <p class="alert alert-success"><span class="glyphicon glyphicon-ok"></span> <strong>Development of a local feature to help local and regional governments to easily provide citizens with budget information consultation</strong><br/><a href="http://www.civio.es/administraciones-publicas/" title="Civio - Public administration" target="_blank">Here is the feature</a> and <a href="http://www.civio.es/2014/11/civio-ayuda-a-torrelodones-a-innovar-en-transparencia-presupuestaria/" title="Civio - Civio helps Torrelodones to innovate in terms of budget transparency" target="_blank">its first use was Torrelodones</a>.</p>
              </div>
            </div>
        </div>
      </div>
    </div> 
  </div>
</section>