<section id="section-3-9" class="full-size subsection bgA">
  <div class="text-vertical-center">
    <div class="container">
        <div class="row text-left">
          <div class="col-lg-10 col-lg-offset-1">
            <h4>Sentando la base de cuatro nuevas iniciativas para 2015</h4>
            <ul class="media-list">
              <li class="media">
                <div class="media-left">
                  <img class="media-object" src="img/quiencobralaobra.jpg">
                </div>
                <div class="media-body">
                  <a href="https://goteo.org/project/quien-cobra-la-obra" title="Quién cobra la obra" target="_blank"><h5>Quién cobra la obra</h5></a>
                  <p>Es nuestro primer acercamiento a una ambición de largo recorrido que tenemos en Civio: radiografiar íntegramente la contratación pública española. Queremos empezar por la gran obra pública y lo haremos con este proyecto, que verá la luz en 2015. En 2014, a través de una <a href="https://goteo.org/project/quien-cobra-la-obra" title="Goteo - Quién cobra la obra" target="_blank">campaña de crowdfunding</a> en la plataforma Goteo.org, recabamos el apoyo de 250 co-financiadores. Su aportación, de 8.350 euros (antes de comisiones) nos permitirá ponerlo en marcha.</p>
                </div>
              </li>
              <li class="media">
                <div class="media-left">
                  <img class="media-object" src="img/espanopoly.jpg">
                </div>
                <div class="media-body">
                  <a href="http://www.xn--espaopoly-o6a.com/" title="Españopoly" target="_blank"><h5>Españopoly</h5></a>
                  <p>Es un libro que retrata los entresijos del poder y de la influencia, las reglas no escritas del juego y quiénes las establecen, siempre según sus intereses. Escrito a lo largo de 2014 por Eva Belmonte, responsable de proyectos de Civio, lo publica la Ed. Ariel. A la venta el 24 de marzo de 2015.</p>
                </div>
              </li>
              <li class="media">
                <div class="media-left">
                  <img class="media-object" src="img/journalism_grants.jpg">
                </div>
                <div class="media-body">
                  <a href="http://www.civio.es/2014/11/investigaremos-el-precio-de-medicamentos-en-paises-en-desarrollo-con-una-beca-del-cep/" title="Civio - Investigaremos el precio de medicamentos en países en desarrollo con una beca del CEP" target="_blank"><h5>Medicamentalia</h5></a>
                  <p>Es una nueva investigación periodística basada en datos y de largo alcance. El <a href="http://ejc.net/" title="European Journalism Centre" target="_blank">Centro Europeo de Periodismo</a> (CEP) <a href="http://journalismgrants.org/press-release-idr-grant-programme-announces-twelve-new-winners-and-the-first-2015-deadline/" title="Journalism Grants - Press Release: IDR Grant Programme announces twelve new winners and the first 2015 deadline" target="_blank">escogió</a> entre los 12 ganadores de su programa de becas para la innovación en periodismo una propuesta de Civio para mostrar, analizar y comparar los precios de los fármacos y vacunas usadas en los tratamientos contra las enfermedades más frecuentes en países en desarrollo. Saldrá a la luz en varios idiomas a mediados de 2015.</p>
                </div>
              </li>
              <li class="media">
                <div class="media-left">
                  <img class="media-object" src="img/onodo.jpg">
                </div>
                <div class="media-body">
                  <a href="http://onodo.org" title="Onodo" target="_blank"><h5>Onodo</h5></a>
                  <p>Es una herramienta (realizada con colaboración de <a href="http://www.barcelonamedia.org" title="Barcelona Media" target="_blank">Barcelona Media</a> y financiada con el programa <a href="http://www.chest-project.eu" title="CHEST Project" target="_blank">CHEST</a> de innovación social europea) que permitirá a cualquier ciudadano analizar, visualizar y compartir redes complejas de relaciones aplicadas a cualquier ámbito o problemática que afecte a tu comunidad. Si se puede reflejar como una red, con Onodo podrás cartografiarla y mejorar el conocimiento colectivo en cualquier contexto.</p>
                </div>
              </li>
            </ul>
            <p class="text-center"><strong>Y más, que irás conociendo a lo largo de este año.</strong></p>
        </div>
      </div>
    </div> 
  </div>
</section>