<section id="section-5-2" class="full-size subsection bgA">
  <div class="text-vertical-center">
    <div class="container">
        <div class="row text-left">
          <div class="col-lg-10 col-lg-offset-1">
            <div class="project-logo text-center">
              <a href="http://www.digodiego.es/" title="DigoDiego" target="_blank">
                <img src="img/logo-digodiego.png">
              </a>
              <h4>DigoDiego</h4>
            </div>
            <div class="panel panel-titulares">
              <div class="panel-body">
                <p class="text-center"><i>En titulares</i></p>
                <blockquote class="blockquote-reverse">
                  <a href="http://www.elmundo.es/blogs/elmundo/enredados/2014/01/15/los-tuits-que-borran-los-politicos.html" target="_blank">&ldquo; Los 'tuits' que borran los políticos &rdquo;</a>
                  <footer><cite>El Mundo</cite></footer>
                </blockquote>
                <blockquote class="blockquote-reverse">
                  <a href="http://www.abc.es/tecnologia/redes/20140120/abci-tuits-borrados-politicos-201401162123.html" target="_blank">&ldquo; «Digo Diego», la página que registra los «tuits» que borran los políticos &rdquo;</a>
                  <footer><cite>ABC</cite></footer>
                </blockquote>
              </div>
            </div>
            <p><a href="http://www.digodiego.es/" title="DigoDiego" target="_blank">DigoDiego</a> fue un proyecto que permitía consultar si los diputados se arrepentían y eliminaban alguna declaración hecha a través de la red social Twitter. El proyecto estuvo activo hasta finales de julio de 2015. Decidimos cerrarlo tras 19 meses operativo debido al escaso número de tuits interesantes borrados por los diputados, a que necesitábamos asignar más tiempo de trabajo a proyectos más prioritarios y a la incertidumbre que los cambios producidos en los términos y condiciones de la API de Twitter generaban en este proyecto. <a href="http://www.civio.es/2015/07/cerramos-digodiego-es-los-diputados-ya-pueden-tuitear-tranquilos/" title="Civio - Cerramos DigoDiego.es: los diputados ya pueden tuitear tranquilos ;)" target="_blank">Aquí</a> explicamos en detalle los motivos y las principales lecciones aprendidas en el proceso.</p>
            <div class="clearfix"></div>
            <div class="panel panel-objetivo">
              <div class="panel-body">
                <p class="panel-objetivo-title"><i>Objetivo previsto en el Plan de Actuación 2015:</i></p>
                <p class="alert alert-danger"><span class="glyphicon glyphicon-remove"></span> <strong>Actualización, mantenimiento y consolidación del proyecto</strong></p>
              </div>
            </div>
        </div>
      </div>
    </div> 
  </div>
</section>