<section id="section-3-8" class="full-size subsection bgC">
  <div class="text-vertical-center">
    <div class="container">
        <div class="row text-left">
          <div class="col-lg-10 col-lg-offset-1">
            <div class="project-logo text-center">
              <a href="http://escuela.civio.es" title="Escuela Civio" target="_blank">
                <img src="{{ site.url }}/img/logo-escuelacivio.png">
              </a>
              <h4>Escuela Civio</h4>
            </div>
            <div class="panel panel-titulares">
              <div class="panel-body">
                <p class="text-center"><i>In headlines</i></p>
                <blockquote class="blockquote-reverse">
                  <a href="http://www.euskadinnova.net/es/innovacion-social/noticias/escuela-civio-ofrece-herramientas-para-aprender-hacer-periodismo-datos/11654.aspx?utm_source=rss_feed&amp;utm_medium=rss&amp;utm_campaign=accesos_rss&amp;sincookies=1" target="_blank">“ Escuela Civio offers tools to learn data journalism ”</a> <footer><cite>Euskadi Innova</cite></footer>
                </blockquote>
              </div>
            </div>
            <p>The <a href="http://escuela.civio.es" title="Escuela Civio" target="_blank">Escuela Civio</a> (Civio School) initiative intends to share and disseminate the knowledge of this foundation, by gathering useful resources for the practice of data journalism, transparency and open data. All its resources are free and open. The most checked items were videos and tutorials on data extraction (1,350 views), how to prepare data for analysis (1,250 views), a workshop on the "Quién Manda" project (975 views) as well as the interviews to the Civio team (1,020 views).</p>
            <div class="clearfix"></div>
            <div class="panel panel-objetivo">
              <div class="panel-body">
                <p class="panel-objetivo-title"><i>Objective as foreseen on the 2014 Action Plan:</i></p>
                <p class="alert alert-success"><span class="glyphicon glyphicon-ok"></span> <strong>Update, upkeep and consolidation of the project</strong><br/>Outstanding as one of few resources available in Spanish for this kind of content, it is essential for more and more data journalists, a profession where self-learning is key.</p>
              </div>
            </div>
        </div>
      </div>
    </div> 
  </div>
</section>