<section id="section-3-8" class="full-size subsection bgC">
  <div class="text-vertical-center">
    <div class="container">
        <div class="row text-left">
          <div class="col-lg-10 col-lg-offset-1">
            <div class="project-logo text-center">
              <a href="http://escuela.civio.es" title="Escuela Civio" target="_blank">
                <img src="img/logo-escuelacivio.png">
              </a>
              <h4>Escuela Civio</h4>
            </div>
            <div class="panel panel-titulares">
              <div class="panel-body">
                <p class="text-center"><i>En titulares</i></p>
                <blockquote class="blockquote-reverse">
                  <a href="http://www.euskadinnova.net/es/innovacion-social/noticias/escuela-civio-ofrece-herramientas-para-aprender-hacer-periodismo-datos/11654.aspx?utm_source=rss_feed&utm_medium=rss&utm_campaign=accesos_rss&sincookies=1" target="_blank">&ldquo; La Escuela Civio ofrece herramientas para aprender a hacer periodismo de datos &rdquo;</a>
                  <footer><cite>Euskadi Innova</cite></footer>
                </blockquote>
              </div>
            </div>
            <p><a href="http://escuela.civio.es" title="Escuela Civio" target="_blank">Escuela Civio</a> es una iniciativa para compartir y divulgar el conocimiento de la fundación, reuniendo recursos útiles para la práctica del periodismo de datos, la transparencia y los datos abiertos. Todos los materiales son abiertos y gratuitos, y los más consultados han sido los vídeos y tutoriales sobre cómo conseguir datos (1.350 visualizaciones), cómo preparar datos para su análisis (1.250 reproducciones), un taller sobre "Quién Manda" (975 reproducciones) o y las entrevistas al equipo de Civio (1.020 visualizaciones).</p>
            <div class="clearfix"></div>
            <div class="panel panel-objetivo">
              <div class="panel-body">
                <p class="panel-objetivo-title"><i>Objetivo previsto en el Plan de Actuación 2014:</i></p>
                <p class="alert alert-success"><span class="glyphicon glyphicon-ok"></span> <strong>Actualización, mantenimiento y consolidación del proyecto</strong><br/>Destaca entre los pocos recursos disponibles en español de este tipo de contenidos, y es esencial para cada vez más iniciados en periodismo de datos, donde tiene enorme peso el autoaprendizaje</p>
              </div>
            </div>
        </div>
      </div>
    </div> 
  </div>
</section>