<section id="section-4-2" class="full-size subsection bgA">
  <div class="text-vertical-center">
    <div class="container">
        <div class="row text-left">
          <div class="col-lg-10 col-lg-offset-1">
            <div class="project-logo text-center">
              <a href="http://dondevanmisimpuestos.es" title="¿Dónde van mis impuestos?" target="_blank">
                <img src="img/logo-dondevanmisimpuestos.png">
              </a>
              <h4>¿Dónde van mis impuestos?</h4>
            </div>
            <div class="panel panel-titulares">
              <div class="panel-body">
                <p class="text-center">En titulares</p>
                <blockquote class="blockquote-reverse">
                  <a href="http://www.elmundo.es/grafico/economia/2015/08/04/55c07b7846163fc5318b4570.html" title="El Mundo - Presupuestos Generales del Estado 2016: gasto" target="_blank">El Mundo utilizó los datos de  <i>¿Dónde va mis impuestos?</i> para informar sobre la distribución del gasto en los PGE 2016</a>
                  <footer><cite title="El Mundo">El Mundo</cite></footer>
                </blockquote>
                <blockquote class="blockquote-reverse">
                  <a href="http://cincodias.com/cincodias/2015/04/17/album/1429263141_820676.html#1429263141_820676_1429263409" title="Cinco Días - Las mejores prácticas de transparencia de 2014" target="_blank">Las mejores prácticas de transparencia de 2014</a>
                  <footer><cite title="Cinco Días">Cinco Días</cite></footer>
                </blockquote>
              </div>
            </div>
            <p>Esta iniciativa permite a cualquier ciudadano a consultar de forma <strong>visual, sencilla y transparente</strong> cómo se distribuyen los presupuestos generales.</p>
            <p>Actualizamos los datos en agosto, cuando se presentó a las Cortes Generales el Proyecto de Presupuestos Generales del Estado para 2016. Pocas horas después de que el Ministerio de Hacienda y AAPP publicase la información, desde Civio <strong>liberamos los datos en formatos abiertos</strong>, facilitando la reutilización por terceras partes (El Mundo con su <a href="http://www.elmundo.es/grafico/economia/2015/08/04/55c07b7846163fc5318b4570.html" title="El Mundo - Presupuestos Generales del Estado 2016: gasto" target="_blank">cobertura informativa</a>, por ejemplo). <i>¿Dónde van mis impuestos?</i> sirve además contrastar la veracidad de una información o de unas declaraciones rápidamente. Así, durante los debates entre candidatos que se celebraron antes de las Elecciones Generales 2015, permitió hacer <a href="https://twitter.com/ECLaboratorio/statuses/676522466383151104" title="Twitter - ECLaboratorio" target="_blank"><i>fact-checks</i></a> en directo.</p>
            <p><i>¿Dónde van mis impuestos?</i> registró <strong>32.846 visitas en 2015</strong>, un 22% menos que en 2014, cuando re-diseñamos la herramienta. En cambio, la duración media de la consulta ha aumentado un 16%. Partidas como <a href="http://www.dondevanmisimpuestos.es/politicas/21/pensiones" title="Dónde van mis impuestos - Pensiones" target="_blank">‘Pensiones’</a> y <a href="http://www.dondevanmisimpuestos.es/politicas/21/pensiones" title="Dónde van mis impuestos - Deuda Pública" target="_blank">‘Deuda Pública’</a> han recibido un 182% y un 202% más visitas que en 2014, respectivamente.</p>
            <div class="clearfix"></div>
            <div class="panel panel-objetivo">
              <div class="panel-body">
                <p class="panel-objetivo-title"><i>Objetivo previsto en el Plan de Actuación 2015</i></p>
                <p class="alert alert-success"><span class="glyphicon glyphicon-ok"></span> <strong>Actualizar la aplicación con los PGE 2015 y el proyecto de PGE 2016</strong></p>
                <p class="alert alert-success"><span class="glyphicon glyphicon-ok"></span> <strong>Hacer incidencia, pidiendo que se publique la ejecución presupuestaria al mismo nivel que los presupuestos</strong>.<br/>Es un <a href="http://propuestas.civio.es/#publicacion-de-la-ejecucion-presupuestaria-al-mismo-nivel-de-desglose-que-los-pge" title="Propuestas Civio - Publicación de la ejecución presupuestaria al mismo nivel de desglose que los PGE" target="_blank">compromiso</a> que hemos pedido a los principales partidos políticos, y casi todas las formaciones han incluido mejorar esta cuestión <a href="http://propuestas.civio.es/partidos.html#publicacion-de-la-ejecucion-presupuestaria-al-mismo-nivel-de-desglose-que-los-pge" title="Propuestas Civio - Partidos - Publicación de la ejecución presupuestaria al mismo nivel de desglose que los PGE" target="_blank">en sus programas</a></p>
              </div>
            </div>
        </div>
      </div>
    </div> 
  </div>
</section>