<section id="section-3-9" class="full-size subsection bgA">
  <div class="text-vertical-center">
    <div class="container">
        <div class="row text-left">
          <div class="col-lg-10 col-lg-offset-1">
            <h4>Laying the foundations for four new initiatives for 2015</h4>
            <ul class="media-list">
              <li class="media">
                <div class="media-left">
                  <img class="media-object" src="{{ site.url }}/img/quiencobralaobra.jpg">
                </div>
                <div class="media-body">
                  <a href="https://goteo.org/project/quien-cobra-la-obra" title="Quién cobra la obraQuién cobra la obra" target="_blank"><h5>Quién cobra la obra</h5></a>
                  <p>"Quién cobra la obra" (Who's paid for the job) is our first approach to a long haul ambition at Civio: to obtain the full radiography of public procurement in Spain. We want to start by large public works, dealt with in this project to be launched in 2015. In 2014, through a <a href="https://goteo.org/project/quien-cobra-la-obra" title="Goteo - Quién cobra la obra" target="_blank">crowdfunding campaign</a> within platform Goteo.org, we gathered the support of 250 co-funders. Their total contribution of 8.350 euros (gross before commissions) will allow us to start it.</p>
                </div>
              </li>
              <li class="media">
                <div class="media-left">
                  <img class="media-object" src="{{ site.url }}/img/espanopoly.jpg">
                </div>
                <div class="media-body">
                  <a href="http://www.xn--espaopoly-o6a.com/" title="Españopoly" target="_blank"><h5>Españopoly</h5></a>
                  <p>This book portraits the ins and outs of power and influence, the unwritten rules of the game and who establish them, always in their interests. Written through 2014 by Eva Belmonte, project coordinator at Civio, it will be published by editions Ariel. It will be for sale from March 24th, 2015.</p>
                </div>
              </li>
              <li class="media">
                <div class="media-left">
                  <img class="media-object" src="{{ site.url }}/img/journalism_grants.jpg">
                </div>
                <div class="media-body">
                  <a href="http://www.civio.es/2014/11/investigaremos-el-precio-de-medicamentos-en-paises-en-desarrollo-con-una-beca-del-cep/" title="Civio - We will investigate the price of medication in developing countries thanks to a grant from EJC" target="_blank"><h5>Medicamentalia</h5></a>
                  <p>This is a new journalistic extensive research based on data. The <a href="http://ejc.net/" title="European Journalism Centre" target="_blank">European Journalism Centre</a> (EJC) <a href="http://journalismgrants.org/press-release-idr-grant-programme-announces-twelve-new-winners-and-the-first-2015-deadline/" title="Journalism Grants - Press Release: IDR Grant Programme announces twelve new winners and the first 2015 deadline" target="_blank">chose a proposal by Civio</a> to show, analyse and compare the prices of drugs and vaccines used in treatments against the most frequent diseases in developing countries. It will be launched in several languages in mid-2015.</p>
                </div>
              </li>
              <li class="media">
                <div class="media-left">
                  <img class="media-object" src="{{ site.url }}/img/onodo.jpg">
                </div>
                <div class="media-body">
                  <a href="http://onodo.org" title="Onodo" target="_blank"><h5>Onodo</h5></a>
                  <p>This tool (created in cooperation with <a href="http://www.barcelonamedia.org" title="Barcelona Media" target="_blank">Barcelona Media</a> and financed under the <a href="http://www.chest-project.eu" title="CHEST Project" target="_blank">CHEST project (a European programme Collective enHanced Environment for Social Tasks)</a> will allow any citize4n to analyse, visualise and share complex relationship networks applied to any field or issue affecting their community. If it can be portrayed as a network, Onodo will allow you to map it and to enhance collective knowledge within any context.</p>
                </div>
              </li>
            </ul>
            <p class="text-center"><strong>More to come throughout this year.</strong></p>
        </div>
      </div>
    </div> 
  </div>
</section>