<section id="section-4-2" class="full-size subsection bgD">
  <div class="text-vertical-center">
    <div class="container">
        <div class="row text-left">
          <div class="col-lg-10 col-lg-offset-1">
            <div class="project-logo text-center">
              <a href="http://dondevanmisimpuestos.es" title="¿Dónde van mis impuestos?" target="_blank">
                <img src="img/logo-dondevanmisimpuestos.png">
              </a>
              <h4>¿Dónde van mis impuestos?</h4>
            </div>
            <div class="panel panel-titulares">
              <div class="panel-body">
                <p class="text-center"><i>En titulares</i></p>
                <blockquote class="blockquote-reverse">
                  <a href="http://www.elmundo.es/economia/2014/06/24/53a99c8c22601db6718b45a9.html" target="_blank">&ldquo; ¿Cuánto gasta el Estado en becas y en cooperación? ¿Y en los partidos? &rdquo;</a>
                  <footer><cite title="Source Title">El Mundo</cite></footer>
                </blockquote>
                <blockquote class="blockquote-reverse">
                  <a href="http://www.heraldo.es/noticias/aragon/2014/06/25/como_gasta_dinero_publico_aragon_295707_300.html?utm_source=titulares&utm_medium=email&utm_campaign=noticias" target="_blank">&ldquo; ¿Cómo se gasta el dinero de los Presupuestos Generales en Aragón? &rdquo;</a>
                  <footer><cite title="Source Title">El Heraldo</cite></footer>
                </blockquote>
                <blockquote class="blockquote-reverse">
                  <a href="http://www.elmundo.es/madrid/2014/11/29/547a2dec268e3ef3328b456d.html" target="_blank">&ldquo; Torrelodones, un municipio que se quiere volver transparente &rdquo;</a>
                  <footer><cite title="Source Title">El Mundo</cite></footer>
                </blockquote>
              </div>
            </div>
            <p><a href="http://www.civio.es/2014/06/asi-es-la-nueva-version-de-donde-van-mis-impuestos/" title="Civio - Así es la nueva versión de ¿Dónde van mis impuestos?" target="_blank">Relanzamos esta plataforma</a> en junio con un nuevo diseño para mostrar la información de los Presupuestos Generales de un modo más claro y visual. También añadimos un buscador para localizar gastos detallados sin tener que conocer a qué partida pertenecen, y añadimos información didáctica y divulgativa.</p>
            <p>Ahora encontrarás mucha más y mejor información, pudiendo profundizar hasta en la más mínima línea de gasto. Por eso, aunque los usuarios únicos han descendido de 51.600 en 2013 a 33.000 en 2014, la duración media de la consulta se ha alargado casi un 60%.</p>
            <div class="clearfix"></div>
            <div class="panel panel-objetivo">
              <div class="panel-body">
                <p class="panel-objetivo-title"><i>Objetivo previsto en el Plan de Actuación 2014</i></p>
                <p class="alert alert-success"><span class="glyphicon glyphicon-ok"></span> <strong>Actualizar la visualización</strong> <br/><a href="http://www.civio.es/2014/06/asi-es-la-nueva-version-de-donde-van-mis-impuestos/" title="Civio - Así es la nueva versión de ¿Dónde van mis impuestos?" target="_blank">Renovamos</a> la web con un software realizado por <a href="http://i.ngen.io/" title="i.ngen.io" target="_blank">i.ngen.io</a> -una empresa de análisis y visualización de datos fundada por los promotores de Civio, David Cabo y Jacobo Elosua- para Aragón Open Data y publicado en código abierto.</p>
                <p class="alert alert-success"><span class="glyphicon glyphicon-ok"></span> <strong>Desarrollo de una funcionalidad municipal para ayudar a gobiernos locales y autonómicos a facilitar a sus ciudadanos la consulta de la información presupuestaria</strong> <br/>Esta es la <a href="http://www.civio.es/administraciones-publicas/" title="Civio - Administraciones públicas" target="_blank">funcionalidad</a> y este su primer caso de aplicación, <a href="http://www.civio.es/2014/11/civio-ayuda-a-torrelodones-a-innovar-en-transparencia-presupuestaria/" title="Civio - Civio ayuda a Torrelodones a innovar en transparencia presupuestaria" target="_blank">Torrelodones</a>.</p>
              </div>
            </div>
        </div>
      </div>
    </div> 
  </div>
</section>