<section id="section-3-6" class="full-size subsection bgD">
  <div class="text-vertical-center">
    <div class="container">
        <div class="row text-left">
          <div class="col-lg-10 col-lg-offset-1">
            <div class="project-logo text-center">
              <a href="http://www.espanaenllamas.es" title="España en llamas" target="_blank">
                <img src="img/logo-espanaenllamas.png">
              </a>
              <h4>España en llamas</h4>
            </div>
            <div class="panel panel-titulares">
              <div class="panel-body">
                <p class="text-center">En titulares</p>
                <blockquote class="blockquote-reverse">
                  <a href="http://www.heraldo.es/noticias/aragon/2015/07/07/la_inversion_prevencion_incendios_desplomo_entre_2009_2013_379312_300.html" title="El Heraldo de Aragón - La inversión en prevención de incendios en Aragón se desplomó un 56% entre 2009 y 2013" target="_blank">La inversión en prevención de incendios en Aragón se desplomó un 56% entre 2009 y 2013</a>
                  <footer><cite>El Heraldo de Aragón</cite></footer>
                </blockquote>
                <blockquote class="blockquote-reverse">
                  <a href="http://www.hoy.es/extremadura/201507/12/region-gasta-millones-prevenir-20150712194658.html" title="Hoy Extremadura - La región gasta 24 millones al año en prevenir incendios y 14 en apagarlos" target="_blank">La región gasta 24 millones al año en prevenir incendios y 14 en apagarlos</a>
                  <footer><cite>Hoy Extremadura</cite></footer>
                </blockquote>
                <blockquote class="blockquote-reverse">
                  <a href="http://www.telecinco.es/informativos/sociedad/Sierra_de_Gata-Caceres-Extremadura-incendio_forestal_2_2032305064.html" title="Telecinco - La mano del hombre estaría detrás de 9 de cada 10 incendios forestales" target="_blank">La mano del hombre estaría detrás de 9 de cada 10 incendios forestales</a>
                  <footer><cite>Telecinco</cite></footer>
                </blockquote>
                <blockquote class="blockquote-reverse">
                  <a href="http://play.cadenaser.com/audio/cadenaser_hoyporhoy_20150827_100000_110000/" title="Cadena SER - Entrevista a Marcos García Rey sobre España en llamas y la Ley de Montes" target="_blank">Entrevista a Marcos García Rey sobre España en llamas y la Ley de Montes</a>
                  <footer><cite>Cadena SER</cite></footer>
                </blockquote>
                <blockquote class="blockquote-reverse">
                  <a href="http://www.elcomercio.es/asturias/201510/12/incendios-intencionados-20151012002443-v.html" title="El Comercio - El 39% de los incendios son intencionados" target="_blank">El 39% de los incendios son intencionados</a>
                  <footer><cite>El Comercio</cite></footer>
                </blockquote>
              </div>
            </div>
            <p><a href="http://www.espanaenllamas.es" title="España en llamas" target="_blank"><i>España en llamas</i></a> es un proyecto de Civio, iniciado por el programador <a href="https://twitter.com/jjelosua" title="Juan Elosua" target="_blank">Juan Elosua</a> y liderado por <a href="http://www.civio.es/team-type/colaboradores/" title="Civio - Colaboradores" target="_blank">Marcos García Rey</a> en la parte periodística con la colaboración de <a href="http://www.civio.es/team-type/colaboradores/" title="Civio - Colaboradores" target="_blank">Hugo Garrido</a>. En julio de 2015 actualizamos este proyecto con nuevas informaciones interactivas y multimedia que cubren el periodo entre histórico entre 2001 y 2013, siendo éste el último año con datos acreditados para poder trabajar de forma fiable.</p>
            <p>Por una parte, explicamos de forma sencilla varios <a href="http://espanaenllamas.es/espana-sigue-en-llamas/" title="España en llamas - España sigue en llamas: los últimos cambios legislativos" target="_blank">cambios legislativos</a> recientes y las posibles consecuencias que pueden tener en la gestión de los incendios forestales. Se trata de la nueva <strong>Ley de Montes,</strong> que afecta al uso de los terrenos incendiados y las competencias de los agentes forestales, y el nuevo <strong>Código Penal</strong>, que introduce novedades en la lucha judicial contra los incendiarios.</p>
            <p>Además, hemos actualizado la <a href="http://espanaenllamas.es/explora-los-incendios/" title="España en llamas - Explora los incendios" target="_blank">aplicación</a> de <strong>búsqueda de incendios forestales</strong> con los datos completos del <strong>año 2013</strong> y también el resto del <strong>material interactivo e infográfico</strong>. Por último, hemos publicado un <a href="http://espanaenllamas.es/incendios-forestales-de-2013-ano-de-luces-y-sombras/" title="España en llamas - Incendios forestales de 2013, año de luces y sombras" target="_blank">reportaje más</a> sobre los incendios del 2013, un año clemente en comparación con los anteriores pero que, una vez más, tuvo en la mano del hombre el origen de la inmensa mayoría de los fuegos sufridos.</p>
            <div class="clearfix"></div>
            <div class="panel panel-objetivo">
              <div class="panel-body">
                <p class="panel-objetivo-title"><i>Objetivo previsto en el Plan de Actuación 2015:</i></p>
                <p class="alert alert-success"><span class="glyphicon glyphicon-ok"></span> <strong>Actualizar la aplicación con nuevos datos</strong></p>
                <p class="alert alert-success"><span class="glyphicon glyphicon-ok"></span> <strong>Publicar una nueva investigación</strong></p>
              </div>
            </div>
        </div>
      </div>
    </div> 
  </div>
</section>