<section id="section-5-2" class="full-size subsection bgA">
  <div class="text-vertical-center">
    <div class="container">
      <div class="row text-left">
        <div class="col-lg-10 col-lg-offset-1">
          <div class="project-logo text-center">
            <a href="http://www.digodiego.es/" title="DigoDiego" target="_blank">
              <img src="/img/logo-digodiego.png">
            </a>
            <h4>DigoDiego</h4>
          </div>
          <div class="panel panel-titulares">
            <div class="panel-body">
              <p class="text-center">In headlines</p>
              <blockquote class="blockquote-reverse">
                <a href="http://www.elmundo.es/blogs/elmundo/enredados/2014/01/15/los-tuits-que-borran-los-politicos.html" target="_blank">The tweets erased by politicians</a> <footer><cite>El Mundo</cite></footer>
              </blockquote>
              <blockquote class="blockquote-reverse">
                <a href="http://www.abc.es/tecnologia/redes/20140120/abci-tuits-borrados-politicos-201401162123.html" target="_blank">“Digo Diego”, the website to register tweets erased by politicians</a> <footer><cite>ABC</cite></footer>
              </blockquote>
            </div>
          </div>
          <p><a href="http://www.digodiego.es/" title="DigoDiego" target="_blank"><i></i>DigoDiego</a> (Politwoops) was a project that allowed to check if a member of the Congress took back and erased tweeted statements. The project was active until late July 2015. After nineteen months in operation, we decided to shut it down because there were few interesting tweets deleted by members of the Congress, we needed to allocate time to more priority projects and the new terms and conditions of Twitter's API brought uncertainty over the viability of this project. We explain our reasons and the lessons learned during the process <a href="http://www.civio.es/2015/07/cerramos-digodiego-es-los-diputados-ya-pueden-tuitear-tranquilos/" title="Civio - We are shutting down DigoDiego.es: members of the Congress can tweet at ease now ;)" target="_blank">here</a>.</p>
          <div class="clearfix"></div>
          <div class="panel panel-objetivo">
            <div class="panel-body">
              <p class="panel-objetivo-title"><i>Objective as foreseen on the 2015 Action Plan:</i></p>
              <p class="alert alert-danger"><span class="glyphicon glyphicon-remove"></span> <strong>Update, upkeep and consolidation of the project</strong></p>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>
</section>